<h3
    class="c-article__sub-heading"
    data-test="abstract-sub-heading"
    style="
        box-sizing: inherit;
        font-size: 2.4rem;
        margin: 0px 0px 8px;
        color: rgb(34, 34, 34);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
        line-height: 1.24;
        font-weight: 400;
    "
>
    Background
</h3>
<p
    style="
        box-sizing: inherit;
        padding: 0px;
        margin-right: 0px;
        margin-bottom: 1.5em;
        margin-left: 0px;
        color: rgb(51, 51, 51);
        font-family: Georgia, Palatino, serif;
        font-size: 18px;
    "
>
    Despite the signing of international peace agreements, a deadly war
    continues in the Democratic Republic of Congo (DRC) and sexual violence is a
    prominent modus operandi of many military groups operating in the region.
</p>
<h3
    class="c-article__sub-heading"
    data-test="abstract-sub-heading"
    style="
        box-sizing: inherit;
        font-size: 2.4rem;
        margin: 0px 0px 8px;
        color: rgb(34, 34, 34);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
        line-height: 1.24;
        font-weight: 400;
    "
>
    Methods
</h3>
<p
    style="
        box-sizing: inherit;
        padding: 0px;
        margin-right: 0px;
        margin-bottom: 1.5em;
        margin-left: 0px;
        color: rgb(51, 51, 51);
        font-family: Georgia, Palatino, serif;
        font-size: 18px;
    "
>
    Retrospective cohort study of women who presented to Panzi Hospital in 2006
    requesting post-sexual violence care. Data was extracted and analyzed to
    describe the patterns of sexual violence.
</p>
<h3
    class="c-article__sub-heading"
    data-test="abstract-sub-heading"
    style="
        box-sizing: inherit;
        font-size: 2.4rem;
        margin: 0px 0px 8px;
        color: rgb(34, 34, 34);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
        line-height: 1.24;
        font-weight: 400;
    "
>
    Results
</h3>
<p
    style="
        box-sizing: inherit;
        padding: 0px;
        margin-right: 0px;
        margin-bottom: 1.5em;
        margin-left: 0px;
        color: rgb(51, 51, 51);
        font-family: Georgia, Palatino, serif;
        font-size: 18px;
    "
>
    A total of 1,021 medical records were reviewed. A majority of attacks
    occurred in individual homes (56.5%), with the fields (18.4%) and the forest
    (14.3%) also being frequent locations of attack. In total, 58.9% of all
    attacks occurred at night. Of the four primary types of sexual violence,
    gang rape predominated (59.3%) and rape Not Otherwise Specified (NOS) was
    also common (21.5%). Sexual slavery was described by 4.9% of the survivors
    and a combination of gang rape and sexual slavery was described by 11.7%.
    The mean number of assailants per attack was 2.5 with a range of one to &gt;
    15. There were several demographic predictors for sexual slavery.
    Controlling for age, education level and occupation, a marital status of
    "single" increased the risk of sexual slavery (OR = 2.97, 95% CI =
    1.12-7.85). Similarly, after controlling for other variables, age was a
    significant predictor of sexual slavery with older women being at a slightly
    reduced risk (OR = 0.96, 95% CI = 0.92-0.99). Women who experienced sexual
    slavery were 37 times more likely to have a resultant pregnancy in
    comparison to those who reported other types of sexual violence (OR = 37.50,
    95% CI = 14.57-99.33).
</p>
<h3
    class="c-article__sub-heading"
    data-test="abstract-sub-heading"
    style="
        box-sizing: inherit;
        font-size: 2.4rem;
        margin: 0px 0px 8px;
        color: rgb(34, 34, 34);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
        line-height: 1.24;
        font-weight: 400;
    "
>
    Conclusions
</h3>
<p
    style="
        box-sizing: inherit;
        padding: 0px;
        margin-right: 0px;
        margin-bottom: 1.5em;
        margin-left: 0px;
        color: rgb(51, 51, 51);
        font-family: Georgia, Palatino, serif;
        font-size: 18px;
    "
>
    Among sexual violence survivors presenting to Panzi Hospital in 2006, the
    majority of attacks occurred in women's own homes, often at night. This
    represents a pattern of violence that differs from other conflict settings
    and has important implications regarding protection strategies. Sexual
    violence in South Kivu was also marked with a predominance of gang rape,
    thus increasing the risk of serious injury as well as the likelihood of an
    individual woman contracting a sexually transmitted infection (STI). Sexual
    slavery was noted to be more common among young, single women and was found
    to have a high rate of resultant pregnancy.
</p>
